{% if DISQUS_SITENAME %}
    <link rel="stylesheet" href="https://api.tomfield.top/iDisqus.min.css">
    <script src='https://api.tomfield.top/iDisqus.min.js'></script>
    <div id="comment"></div>
    <script>
      var disq = new iDisqus('comment', {
        forum: 'windstorm',
        site: 'https://www.tomfield.top',
        api: 'https://api.tomfield.top/api',
        mode: 2,
        timeout: 3000,
        init: true,
        emojiPreview: true
      });
      disq.count();
    </script>
{% endif %}