{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}        

{% if articles %}
{% for article in articles_page.object_list %}        

{# First item #}
{% if loop.first and not articles_page.has_previous() %}

{#    <div class='article'>#}
{#        <div class="content-title">#}
{#            <a href="{{ SITEURL }}/{{ article.url }}"><h1>{{ article.title }}</h1></a>#}
{#            {% include "metadata.html" %} #}
{#        </div>#}
{#        #}
{#        <div>{{ article.content }}</div>#}
{#        <hr />#}
{#    </div>#}
    <div class='article'>
        <a href="{{ SITEURL }}/{{ article.url }}"><h2>{{ article.title }}</h2></a>
        <div class= "well small"> {% include "metadata.html" %} </div>
        <div class="summary">{{ article.summary }} <a class="btn btn-info xsmall" href="{{ SITEURL }}/{{ article.url }}">read more</a></div>
    </div>

    {% if loop.length == 1 %}
        {% include 'pagination.html' %}
    {% endif %}

{# other items #}
{% else %}

    <div class='article'>
        <a href="{{ SITEURL }}/{{ article.url }}"><h2>{{ article.title }}</h2></a>
        <div class= "well small"> {% include "metadata.html" %} </div>
        <div class="summary">{{ article.summary }} <a class="btn btn-info xsmall" href="{{ SITEURL }}/{{ article.url }}">read more</a></div>
    </div>	
				
    {% if loop.last and (articles_page.has_previous() or not articles_page.has_previous() and loop.length > 1) %}
        {% include 'pagination.html' %}
    {% endif %}

{% endif %} {# First item if #}

{% endfor %} {# For article #}
{% endif %} {# If articles #}

{% endblock content %}

