{% extends "base.html" %}

{% block title %}
Seach {{ super() }}
{% endblock title %}

{% block head_description %}
Search results:
{% endblock head_description %}

<script>
  $(document).ready(function() {
    $('#tipue_search_input').tipuesearch({
      'mode' : 'json',
      'show': 10,
      'newWindow': false,
      'contentLocation': '{{ SITEURL }}/tipuesearch_content.json'
    });
  });
</script>

{% block top_center %}
<h1>
    Search Results
</h1>
{% endblock %}

{% block content %}
<div>
    <div id="tipue_search_content"></div>
</div>
{% endblock content %}